@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: #00539f;
  display: flex;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  flex-direction: row;
  margin: 0px;
  margin-top: 3.5%;
  height: fit-content;
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
}

.container {
  overflow: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* opsTimeNav */

.nav {
  display: flex;
  flex-direction: row;
  padding: 1%;
  background-color: #00539f;
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid #8dc63f;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 3%;
}

.link-container {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}

.link-container a {
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  text-decoration: none;
}

.link-container a:hover {
  color: #8dc63f;
}

.search-button {
  border: 2px solid #8dc63f;
  background-color: #00539f;
  color: #ffffff;
  font-size: 22px;
  border-radius: 12px;
  width: 14vw;
  height: 10vh;
  margin-top: 5px;
  cursor: pointer;
}

input {
  font-family: "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: aliceblue;
  border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: aliceblue;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(63, 198, 125, 1) 0%,
    rgba(0, 83, 159, 1) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, rgb(44, 139, 89) 0%, rgb(1, 45, 87) 100%);
}

/* Togglebuttons */

