.user-card-outer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.user-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(63, 198, 125);
  background: linear-gradient(
    0deg,
    rgba(63, 198, 125, 1) 0%,
    rgba(0, 83, 159, 1) 100%
  );
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px;
  width: 400px;
}
.user-card-controls {
  display: flex;
  align-self: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
  color: white;
}
.user-card-controls h2 {
  display: inline;
  margin: 0px 5px;
  font-size: 20px;
}
.user-card-icon {
  color: inherit;
  font-size: 20px;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}
.user-icon-green {
  color: rgb(31, 221, 31);
}
.user-icon-red {
  color: rgb(196, 31, 25);
}
.user-icon-grey {
  color: rgb(99, 99, 99);
}

.user-card-controls:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.user-card-container h3 {
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.roster-key-container {
  color: white;
  border-right: 1px solid white;
  padding-right: 10px;
}
.roster-key {
  margin-top: 10px;
}
.roster-spacer {
  height: 20px;
}
