.user-field-container {
  display: flex;
  font-size: 20px;
  color: white;
}
.user-field-title {
  margin-right: 10px;
  font-weight: 700;
}
.user-field-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.edit-user-input {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-bottom: 1px solid white;
  font-size: 20px;
  width: 100%;
  padding: 0px;
}

.edit-user-input::placeholder {
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.edit-user-input:focus {
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.edit-user-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.edit-user-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.edit-user-checkbox:checked::before {
  transform: scale(1);
}
.edit-user-checkbox:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
