.outer-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}
.login-container h2 {
  color: white;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(63, 198, 125);
  background: linear-gradient(
    0deg,
    rgba(63, 198, 125, 1) 0%,
    rgba(0, 83, 159, 1) 100%
  );
  padding: 75px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-button {
  text-align: center;
  background-color: white;
  width: 100px;
  padding: 7px;
  border: 3px solid white;
  border-radius: 25px;
  color: black;
  font-size: 14px;
  margin-top: 20px;
  transition: all 0.5s ease-out;
}
.submit-button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 3px solid white;
}
.login-input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-bottom: 1px solid white;
  height: 25px;
  text-indent: 5px;
}
.login-input::placeholder {
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-indent: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}
.login-input:focus {
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.remember-me {
  margin: 0px 10px 0px 0px;
}
.remember-me-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  color: white;
  align-self: flex-start;
}
.input-container {
  display: flex;
  align-items: center;
}
.icon-container {
  border-bottom: 1px solid white;
  align-self: normal;
}
svg {
  color: white;
}
