.table-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 2%;
  background-color: aliceblue;
  border: 2px solid #8dc63f;
  border-radius: 12px;
  overflow: scroll;
  width: fit-content;
  font-size: 11px;
  height: fit-content;

}

.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
}

.theaders {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  width: fit-content;
  background-color: #00539f;
  color: #ffffff;
}

.tbody {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  height: fit-content;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.row-link:hover {
  background-color: #8dc63f;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 120px;
  min-width: 120px;
  text-align: center;
  box-shadow: 1px 0 0 0 #000000, 0 1px 0 0 #000000, 1px 1px 0 0 #000000,
    /* Just to fix the corner */ 1px 0 0 0 #000000 inset,
    0 1px 0 0 #000000 inset;
  height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
