.contents-headers {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;


}

.truck-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.text-box {
  width: 28.5%;
  font-size: 10px;
}

.truck-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  font-size: 12px;
  margin-right: 3%;
}

.cont-header {
  display: flex;
  justify-content: center;
  width: 33%;
  font-size: 11px;
}

.contents {
  width: 35%;
  font-size: 10px;
}

.location {
  width: 27%;
  font-size: 10px;
}

.tools {
  width: 20%;
  font-size: 10px;
}

.contents-head {
  margin-left: 15%;
}

.location-head {
  margin-left: 12%;
}

.tools-head {
  margin-left: 5%;
}