.staff-widget {
  display: flex;
  justify-content: space-around;
  border: 1px solid #00539f;
  border-left: 4px solid #00539f;
  border-radius: 0 10px 10px 0;
  background-color: rgba(240, 248, 255, 1);
  display: flex;
  align-items: center;
  min-width: 10vw;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  transition: all ease-in 0.2s;
  cursor: pointer;
  color: black;
}
.staff-widget:hover {
  background-color: #cedef0;
  border-left: 10px solid #00539f;
}
.staff-widget-username {
  font-size: 11px;
  font-weight: 550;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 43%;
}
.staff-widget-type {
  padding: 0 5px;
  border-left: 1px solid rgb(179, 179, 179);
  position: relative;
}
.staff-widget-tooltip {
  display: none;
  padding: 3px;
  background-color: white;
  border: 0.5px solid grey;
  border-radius: 5px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.staff-widget-type:hover .staff-widget-tooltip {
  display: block;
}
.staff-widget-icon {
  color: inherit;
  font-size: 12px;
  -webkit-filter: drop-shadow(0px 0px 1px rgb(80, 80, 80));
  filter: drop-shadow(0px 0px 1px rgb(80, 80, 80));
  color: rgb(255, 255, 255);
}

.staff-widget-toggled {
  background-color: #8dc63f;
  border-left: 10px solid #00539f;
}
.staff-widget-toggled:hover {
  background-color: #cde7a9;
}
