body {
  background-color: #00539f;
}

.ttmtable {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  background-color: white;
  border: 3px solid #8dc63f;
  text-align: center;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
  border: 1px solid rgb(2, 2, 2);
  width: 150px;
}
thead {
  text-align: center;
  border: 1px solid rgb(2, 2, 2);
  width: 150px;
}

.login {
  background-color: beige;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: rgb(123, 175, 235);
  color: white;
  border-radius: 10px;
}
