body {
  background-color: #00539f;
}

.ttmtable {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid #8dc63f;
}
.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px solid rgb(2, 2, 2);
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(2, 2, 2); 
}

.thead {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px solid rgb(2, 2, 2);
}

.login {
  background-color: beige;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: rgb(123, 175, 235);
  color: white;
  border-radius: 10px;
}
