.edit-hours-page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 89vh;
  font-family: "Open Sans", sans-serif;
  margin: 0.8%;
}

.hours-day-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border: 2px solid #8dc63f;
  border-radius: 12px;
  width: 15%;
  margin-top: 0.2%;
}
.no-data-found {
  font-size: 16px;
  margin-top: 1%;
}

.time-table-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 2%;
  background-color: white;
  border: 2px solid #8dc63f;
  border-radius: 12px;
  overflow: scroll;
  width: fit-content;
  font-size: 13px;
  height: fit-content;
}

.table-row { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  cursor: pointer;
}
.table-row-toggled {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.table-row:hover {
  background-color: #8dc63f;
}
.table-headers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  width: fit-content;
  background-color: #00539f;
  color: #ffffff;
}

.header-cell {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  box-shadow: 1px 0 0 0 #000000, 0 1px 0 0 #000000, 1px 1px 0 0 #000000,
    /* Just to fix the corner */ 1px 0 0 0 #000000 inset,
    0 1px 0 0 #000000 inset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.table-cell {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  box-shadow: 1px 0 0 0 #000000, 0 1px 0 0 #000000, 1px 1px 0 0 #000000,
    /* Just to fix the corner */ 1px 0 0 0 #000000 inset,
    0 1px 0 0 #000000 inset;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.time-card-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.time-card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  background-color: aliceblue;
  border: 2px solid #8dc63f;
  border-radius: 12px;
}

.time-card-column {
  display: flex;
  flex-direction: column;
  margin-left: 9.5%;
  
}

.basic-row {
  display: flex;
  flex-direction: row;
}
.time-card-column-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
  border-right: 1px solid #8dc63f ;
}

.time-card-elem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.close-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: #ffffff;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 8px;
  width: 25%;
  cursor: pointer;
}

.update-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: #ffffff;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 8px;
  width: 25%;
  cursor: pointer;
}
.hidden {
  display: none;
}

.button-row {
  justify-content: space-around;
  padding: 5%;
}
